<table class="profile" summary="Profile information">
  <tr>
    
      <h1>
        <%= gravatar_for @userProfile %>
        <%= @userProfile.name %>
        <p>Your Overall Score is <%= @average %> %</p>
      </h1>

</table>

