<table class="profile" summary="Profile information">
  <tr>
    
      <h1>
        <%= gravatar_for @userProfile %>
        <%= @userProfile.name %>
        <p>Rating: <%= 0 + @average %> %</p>
      </h1>

</table>

