<div id="main_wrap">
<h2 class="title">How it Works</h2>
	<h3>The ELO Ranking System</h3>
		<div class='col_3'>
			<p>Tussify presents a comprehensive ranking system for rating our user’s performances on quizzes. The
			system is heavily based off of the ELO rating system as implemented by the US Chess Federation,
			which is widely considered among the most statistically accurate ranking systems. It is also used by the
			World Chess Federation (which has used the system for over 40 years), Major League Baseball, College
			Football, The National Scrabble Association,and FIFA Men’s Soccer. The ELO rating system calculates a
			numerical ‘rating’ for each user based off of his or her competitive history versus other uses as well as
			his or her practice quiz results. A rating usually falls between 0 and 3000, and changes after each quiz.
			Our system calculates each and every quiz independently. Every new user starts off with a ranking of
			1500 which is then adjusted after each quiz. When a competitive quiz occurs, the system will look at the
			rating of the two users and calculate the likelihood that each of them will win. Depending on the actual
			outcome of the round, the rating will change according to the ELO formula. If you would like to see the
			actual formula we use for this here it is:</p> 
		</div>		       
</div> 
        