<div id="footer_wrap">
  <div id="footer">
        
       <div class="col_3">
            <ul id="footer_links">
                <li></li>
            </ul>
      
       </div>
       
       <div class="col_1_last">
           <a class="footer_logo" href="index.html"><%=image_tag('logo_small.png')%></a> 
           <div class="clear"></div>      
           <p class="copyright">Copyright 2012 Tussify</p>
       </div>
       
    </div> <!--end footer-->
</div> <!--end footer_wrap-->